 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 333px;
}

.u-section-1 .u-table-1 {
  margin-top: 41px;
  margin-bottom: 0;
}

.u-block-2c62-49 {
  border-style: dotted;
}

.u-block-2c62-50 {
  border-style: solid;
}

.u-block-2c62-48 {
  border-style: dotted;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
}

.u-section-1 .u-table-cell-1 {
  border-style: solid;
}

.u-section-1 .u-table-cell-2 {
  border-style: solid;
}

.u-section-1 .u-table-cell-3 {
  border-style: solid;
}

.u-section-1 .u-table-body-1 {
  background-image: none;
}

.u-section-1 .u-table-cell-4 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-5 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-6 {
  border-style: dotted;
}

.u-block-2c62-35 {
  background-image: none;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -60px 251px 0 auto;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -46px 44px 0 auto;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 88px auto 60px;
  padding: 10px 73px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-top: -61px;
    margin-right: 222px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 89px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 89px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-right: 149px;
    padding: 10px 18px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 26px;
    padding: 10px 22px 10px 21px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 140px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -67px;
    margin-right: 117px;
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 22px;
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 96px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-right: 60px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 11px;
    padding-left: 0;
    padding-right: 0;
  }
}