 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 334px;
}

.u-section-1 .u-table-1 {
  margin-top: 51px;
  margin-bottom: 0;
}

.u-block-26d9-49 {
  border-style: dotted;
}

.u-block-26d9-50 {
  border-style: solid;
}

.u-block-26d9-48 {
  border-style: dotted;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
}

.u-section-1 .u-table-cell-1 {
  border-style: solid;
}

.u-section-1 .u-table-cell-2 {
  border-style: solid;
}

.u-section-1 .u-table-cell-3 {
  border-style: solid;
}

.u-section-1 .u-table-body-1 {
  background-image: none;
}

.u-section-1 .u-table-cell-4 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-5 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-6 {
  border-style: dotted;
}

.u-block-26d9-35 {
  background-image: none;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -58px 303px 0 auto;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -46px 120px 0 auto;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 96px auto 41px;
  padding: 10px 73px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: 217px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 67px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-right: 140px;
    padding: 10px 15px 10px 14px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 41px;
    padding: 10px 16px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 140px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -71px;
    margin-right: 123px;
    padding-right: 6px;
    padding-left: 5px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 24px;
    padding-right: 10px;
    padding-left: 9px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 111px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 435px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -70px;
    margin-right: 52px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 13px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 110px;
    margin-bottom: 43px;
  }
}